/* base rules are the defaults. They are almost exclusively single element selectors, but could include attribute selectors, pseudo-class-selectors, child selectors or sibling selectors. Be sure to specify a body background. */


@import 
"_reset",
"_swatch",
"_mixins",
"_layout",
"_fonts",
"_states";

/* BASE STYLES */

$baseFontSize:100%;
$baseLineHeight:100%;

* {
	box-sizing:border-box;
	
}

/*make images responsive by default*/

img{
    max-width:100% !important;
    height:auto;
    display:block;
}

a {
	text-decoration:none;
    color:$link-base;
}


body {
	font-size:$baseFontSize;
	line-height: $baseLineHeight;
    font-family: 'PT Sans',sans-serif;
    background-color:$app-bg;
    color:$white;
}

p {

}


i {
	@include no-select();
}

em {
	font-style:italic;
}