/*  

%font1 {
	@include font-size($sizeValue,$heightValue);
	font-family:;
	font-weight:;
	color:inherit;
} 

%font2 {
	@include font-size($sizeValue,$heightValue);
	font-family:;
	font-weight:;
	color:inherit;
} 

%font3 {
	@include font-size($sizeValue,$heightValue);
	font-family:;
	font-weight:;
	color:inherit;
} 

%font4 {
	@include font-size($sizeValue,$heightValue);
	font-family:;
	font-weight:;
	color:inherit;
} 

%font5 {
	@include font-size($sizeValue,$heightValue);
	font-family:;
	font-weight:;
	color:inherit;
} 

*/
