html {
  width: 100%;
}

body, html {

  height: 100%;
  @include bp-max(550px) {
    height: auto;
  }
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;

  padding: 1em;

  @include bp-max(875px) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: default;
  }

  @include bp-max(550px) {
    flex-wrap: wrap;
  }
}

.flex-container-wrap {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  margin-right: 1em;
  overflow: hidden;
  border-radius: $br;

  @include bp-max(875px) {
    height: 68%;
  }
  @include bp-max(550px) {
    height: 400px;
  }
}

.flex-container {
  height: 100%;
  width: 100%;

  @include bp-max(875px) {
    height: 100%;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 330px;
  height: 100%;
  @include bp-max(875px) {
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    height: 30%;
    margin-bottom: 1em;
  }

  @include bp-max(550px) {
    height: 300px;
  }

}

.control-panel, .message-box, .code-box {
  @include bp-max(875px) {
    flex-grow: 1;
    flex-basis: 200px;
    height: 100%;
    margin-right: 1em;

  }
}

.control-panel {
  flex-grow: 1;
  flex-basis: 225px;

  @include bp-max(733px) {
    margin-right: 0;
  }

}

.message-box {
  flex-grow: 2.5;
  flex-basis: 250px;

  @include bp-max(875px) {
    margin-top: 1em;
  }
  @include bp-max(517px) {
    margin-right: 0;
  }
}

.code-box {
  flex-grow: 2;
  flex-basis: 200px;

  @include bp-max(875px) {
    margin-top: 1em;
    margin-right: 0;
  }
}