body,html {
	width:100%;
	min-width:630px;
	height:100%;
	min-height:700px;
	display:flex;
}


label {
display:block;
}

input {

	width:50px;

}

.playground-ui {
	display:flex;
	flex-direction:column;
	flex-grow:15;
	flex-basis:330px;
	
	
	padding:1em 0 1em 1em;
	background-color:$black;
	
}

.sidebar {
	flex-grow:1;
	display:flex;
	flex-flow:row wrap;
	height:100%; width:20%;
	flex-basis:300px;
	
	padding:1em;
	background-color:$black;
}





.console {
	height:300px; width:100%;
	background-color:$black;
	& p {
		color:$white;
	}
}


.container-settings,.item-defaults,.template-options {
	
	display:inline-block;
	margin:0 3em 0 0;
	
}



.flex-item {
	
	
}