/* SWATCH */



//main
$app-bg:#FFA601;
$container-bg:#484848;
$cs-bg:#484848;
$cs-text:#fff;

//items
$item-bg:#3299BB;

$store1:#0A84C1;
$store2:#655643;
$store3:#A3B6C5;
$item-text:#FFF;
$settings-btn:#616161;
$destroy-btn:#E54028;

//aside
$aside-module-bg:#484848;
$aside-module-text:#fff;

$masthead-bg:#484848;
$masthead-title:#FFF;
$masthead-desc:#FFF;

$tour-action-btn:#F18D05;
$nextprev-btn:#FFA601;
$tour-text:#FFF;
$cb-bg:#484848;

$link-base:#3299BB;






$bg:#A0D36E;
$white:#FFFFFF;
$red:#A9071E;
$item:#FACB47;
$grey-blue:#AAD1D8;



/* Defaults */

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$olive: #3D9970;
$lime:  #01FF70;



$yellow:  #FFDC00;
$orange:  #FF851B;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;


$silver: #ddd;
$gray:   #aaa;
$black:  #111;

