/* SWATCH */



//main
$app-bg:#F18D05;
$container-bg:#FFF;
$cs-bg:#484848;
$cs-text:#fff;

//items
$item-bg:#182945;
$item-text:#FFF;
$settings-btn:#616161;
$destroy-btn:#E54028;

//aside
$aside-module-bg:#fff;
$aside-module-text:#091D42;

$masthead-title:#616161;
$masthead-desc:#616161;

$tour-action-btn:#FD971F;
$nextprev-btn:#F18D05;

$cb-bg:#484848;








$bg:#A0D36E;
$white:#FFFFFF;
$red:#A9071E;
$item:#FACB47;
$grey-blue:#AAD1D8;



/* Defaults */

$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$olive: #3D9970;
$lime:  #01FF70;



$yellow:  #FFDC00;
$orange:  #FF851B;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;


$silver: #ddd;
$gray:   #aaa;
$black:  #111;

