<div>
	<span class="cb-title">code samples</span>
	<div class="cb-item">
		<code>
				<pre>
.flex-container {
	display: {{flexContainer.styles.display}};
	flex-direction: {{flexContainer.styles.flexDirection}};
	flex-wrap: {{flexContainer.styles.flexWrap}};
	justify-content: {{flexContainer.styles.justifyContent}};
	align-content: {{flexContainer.styles.alignContent}};
	align-items: {{flexContainer.styles.alignItems}};
}
				</pre>
		</code>
	</div>
	<div *ngFor="#item of flexContainer.list" class="cb-item">
		<code>
				<pre>
.flex-items-{{item.index}} {
	width: {{item.styles.width}};
	height: {{item.styles.height}};
	flex-grow: {{item.styles.flexGrow}};
	flex-shrink: {{item.styles.flexShrink}};
	flex-basis: {{item.styles.flexBasis}};
}
				</pre>
		</code>
	</div>
</div>