
.sidebar {
  display:flex;
  justify-content:flex-start;
  flex-wrap:nowrap;
  flex-direction:column;

  height:100%; width:20%;
  flex-basis:300px;
  flex-grow:1;
  padding:1em;
  background-color:$black;
}


.masthead { //layout styles
  flex-grow:1;
  flex-shrink:3;
  flex-basis:120px;
}

.message-box { //layout styles
  flex-grow:3;
  flex-basis:350px;
}


.code-box { //layout styles
  flex-grow:2;
  flex-basis:220px;
  overflow-y: scroll;
}

