

.code-box {
  position:relative;

  margin-top:1em;
  overflow:auto;

 
}

$dist:.75em;

.cb-title {
  position:absolute;
  top:$dist;left:$dist;
  @include font-size(.75,.85);

}

.cb-item {
  @include font-size(.75,.85);
}


