

.code-box {

	padding:0 1em;
	color:$white;	
	background-color:$cb-bg;
    border-radius:$br;

  & pre {
    font-family:Courier;
    @include font-size(.75,.85);
  }
 
}

.cb-item {
  margin-top:.15em;
}

