.container-settings {
	display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    flex-basis:550px;

	& label {
        flex-grow:1;
        padding:.25em;
        color:$cs-text;
        text-align: center;
	}
	& select {
      margin:.85em .35em;
		display:block;
}

}

.cp-items {
    flex-basis:130px;
}
.cp-new-settings {
display:block;

  & label {
    display:block;
  }


}

.cp-fixed-flex {
  margin:.25em 0;
  & label {
    widows: 30px;
    display:inline-block;
    & input {
      width:auto;
    }
  }


}

.cs-actions {
  flex-basis:130px;
  text-align: left;

  & a {
    display:inline-block;
    padding:.5em;
    margin:.25em 0;
    background-color:$tour-action-btn;
    color:$white;
    transition:.1s color ease;

    @include module-shadow();
    &:hover {
      background-color:darken($tour-action-btn,5%);
    }
  }
}
.cs-add-remove {
  width:115px;
  float:left;
}
.cs-add, .cs-remove {
	
	
	& i {
		@include font-size(3,3.3);
		color:$white;
		text-shadow:1px 1px 1px darken($gray,50%);
		transition:color .2s ease;
		
		&:hover {
			color:darken($white,10%);
		}
		
		&:active {
			color:darken($white,15%);
		}
	}
}

.cs-remove {
	margin-left:10px;
}

.cs-width-toggle {
  text-align: left;
}