.control-panel {
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin-top:1em;
  overflow:auto;
}

.cp-title {
  position:absolute;
  top:1em; left:1em;
  @include font-size(.75,.85);

}

.cp-container {
  width:52%;
  float:left;
  text-align: left;
  border-left: 1px solid lighten($gray,10%);
  padding-left:20px;
  & label {
    display:block;
    @include font-size(.75,1);
    & select {
      display:inline-block;
      padding-right:0;
    }
  }
}

.cp-c-title {
  display:none;
  position:absolute;
  top:0;
  @include font-size(.75,1);
}

.cp-actions {
	
	margin-top:.5em;
	
	& a {
		display:inline-block;
		margin:.35em auto;
        transition:.1s color ease;
      &:hover {
        color:$white;
      }
	}
}


.cp-items {
  margin-top:.75em;
  width:40%;
  float:left;
  padding:0 0 .5em 0;
}
$dist:.75em;

.cp-i-title {
  display:none;
  position:absolute;
  top:0;
  @include font-size(.75,1);
}
.cp-i-add-remove {
	margin:.5em 0;
}

.cp-i-add {

  & i {
    @include font-size(2.25,2.5);
    color:$white;
  }
}

.cp-i-remove {
  display:inline-block;
  margin-left:.25em;
  & i {
    @include font-size(2.25,2.5);
    color:$white;
  }
}

.cp-i-settings {
  & label {
    display:inline-block;
  }
  & input[type="text"] {
    width:25px;
    border:none;
    background-color:lighten($gray,15%);
    color:$white;
    text-align: center;
    
  }
  
}

.cp-i-s-width {
  display:inline-block;
  & label {
    display:block;
  }
}


