.control-panel {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:center;
	width:100%; 
	padding:1em;
	flex-grow:1;
	margin:0 auto;
	background-color:darken($gray,15%);
  border-top-right-radius: $br;
  border-top-left-radius: $br;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}