.container-settings {
	position:relative;
    background-color:$cs-bg;
  float:left;
	& label {
      margin-left:.2em;
        color:$cs-text;
		display:inline-block;
	}
	& select {
		display:block;
}

}




.cs-add-remove {

}
.cs-add, .cs-remove {
	
	
	& i {
		@include font-size(3,3.3);
		color:$white;
		text-shadow:1px 1px 1px darken($gray,50%);
		transition:color .2s ease;
		
		&:hover {
			color:darken($white,10%);
		}
		
		&:active {
			color:darken($white,15%);
		}
	}
}

.cs-remove {
	margin-left:10px;
}

.cs-width-toggle {
  text-align: left;
}