.flex-item {
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	padding:1.5em;
	min-width:68px!important;
    border-radius:$br;
@include module-shadow();
  background-color:$item-bg;
  overflow:hidden;
}

.fi-index {
	position:absolute;top:10px;left:10px;
	color:$item-text;
	font-size:1.25em;
	font-weight:bold;
	text-shadow:0 0 2px 0 $gray;
	
}

.fi-destroy-btn {
	position:absolute;
	top:10px; right:10px;
	
	
	& i {
		@include font-size(1.5,1);
		color:$destroy-btn;
	
	}
}

.fi-settings-btn {
	position:absolute;
	top:10px; right:40px;
	
	& i {
		@include font-size(1.5,1);
		color:$settings-btn;
	}
}

.fi-content {
	display:inline-block;
	margin:1em auto;
    @include font-size(1.1,1.3);
    color:$item-text;
  font-weight:bold;
}
.fi-options {
	position:absolute;bottom:15px;left:15px;

  & span {
    color:$item-text;

    & a {
    color:$item-text;

    &:visited {
      color:$item-text;
    }
  }
  }
	& label {
		display:inline-block;
		width:55px;
		font-size:.75em;
		margin-top:.5em;
        color:$item-text;
		& input {
			width:50px;
			display:block;
			border:0;
			background-color:fade($gray,25%);
			padding:.25em;
			&:focus {
				outline:3px;
			}

          }
		}

	
}

.fi-options-fixed {
  & label {
    color:$item-text;
  }
}