.flex-item {
  display:flex;
  justify-content: center;
  align-items:center;

  position:relative;
  padding:1.5em 1em;
  border-radius:$br;
  background-color:$flex-item-bg;

  text-align: center;
}
$dist:.75em; $dist2:2em;

.fi-index {
  position:absolute;
  top:$dist; left:$dist;
}

.fi-destroy-btn {
  position:absolute;
  top:$dist; right:$dist;
  & i {
    color:$red;
  }
}

.fi-settings-btn {
  position:absolute;
  top:$dist; right:$dist2;
  & i {
    color:$white;
  }
}

.fi-content {

}

.fi-options {
  position:absolute;
  bottom:1em; left:$dist;

  text-align: left;
}

.fi-o-title {
  display:block;
  margin-bottom:.25em;
  & a {
    display:inline-block;
    margin:0 .1em;
    color:$gray;
  }

}

.fi-options-fixed {

  & label {
    display:inline-block;
    width:45px;

    margin-right:.25em;


    @include font-size(.65,.7);
    padding-top:.45em;
    & input {
      display:block;
      width:45px;
    }
  }
}

.fi-options-flexy {

  & label {
    display:inline-block;
    width:53px;
    @include font-size(.65,.7);
    padding-top:.45em;
    & input {
      display:block;
      width:45px;
    }
  }
}


