

.flex-container {
  position:relative;

  padding:.5em;
  overflow:scroll;

  border-radius:$br;

  background-color:$flex-container-bg;


}
//at
//app needs to be a column
//aside needs to be a row

