.flex-item {
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	padding:1.5em;
	min-width:68px!important;
	border-radius:5px;
	box-shadow:1px 1px 8px 1px darken($gray,20%);
}

.fi-index {
	position:absolute;top:10px;left:10px;
	color:$blue;
	font-size:2em;
	font-weight:bold;
	text-shadow:0 0 2px 0 $gray;
	
}

.fi-destroy-btn {
	position:absolute;
	top:10px; right:10px;
	
	
	& i {
		@include font-size(1.5,1);
		color:$red;
	
	}
}

.fi-settings-btn {
	position:absolute;
	top:10px; right:40px;
	
	& i {
		@include font-size(1.5,1);
		color:$gray;
	}
}

.fi-content {
	display:inline-block;
	margin:1em auto;
}
.fi-options {
	position:absolute;bottom:15px;left:15px;
	
	& label {
		display:inline-block;
		width:55px;
		font-size:.75em;
		margin-top:.5em;
		& input {
			width:50px;
			display:block;
			border:0;
			background-color:fade($gray,25%);
			padding:.25em;
			&:focus {
				outline:3px;
			}
		}
	}
	
}