.masthead {
    display:flex;
    flex-direction:column;
    justify-content: center;
  
	padding:.5em;
	background-color:$gray;
	color:$white;
    border-radius:$br;
}

.site-logo {
    margin:.35em 0;
	@include font-size(1.5,2);
	
}
.site-des {
	@include font-size(1.25,1.6);
}