.masthead {
  display:none;
  position:absolute;
  top:3em;left:3em;
  z-index:100;
  height:auto;
  width:65%;
  padding-bottom:1em;

  & h2 {
    @include font-size(1,1.4);
    color:$white;
  }
  & ul {
    margin-left:1em;

  }

  & li {
    @include font-size(1,1.25);
	color:$white;
    &:before {
      content:"-";
    }
  }


}

.mh-logo {
  @include font-size(2,2);
  font-family:"Arvo";
  color:$white;
  text-shadow:0 0 3px darken($white,35%);
  
  @include bp-max(730px) {
  	@include font-size(1.5,1.5);
  }
}

.mh-desc {
  margin:.75em 0;
  @include font-size(1.5,1.75);
  color:$white;


 @include bp-max(730px) {
  	@include font-size(1,1);
  }


  }
  
 .mh-warning {
 	color:red;
 }

.masthead iframe {
  position:absolute;
  bottom:-1.5em; left:0;

}