
.message-box {
	position:relative;
	margin:1em 0; height:200px;
	display:flex;
	align-items:center;
	padding:1em 1.5em;
	background-color:$gray;
	color:$white;
	& .title {
		@include font-size(.75,.5);
		position:absolute;
		top:10px;
		left:10px;
		
	}
	& p {
		@include font-size(1.35,1.6);
	}
}