.message-box {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;
  overflow-y:scroll;
  position:relative;



}

$dist:.75em;
.mb-title {
  position:absolute;
  top:1em; left:1em;
  @include font-size(.75,.85);
}

.mb-progress {
  position:absolute;
  top:$dist; right:$dist;
}

.mb-content {

}

.mb-action {
  position:absolute;
  bottom:$dist; right:$dist;
}

.mb-nav {
  position:absolute;
  bottom:$dist; left:$dist;
}