
.message-box {
	position:relative;
	margin:1em 0;
	display:flex;
	flex-grow:3;
	flex-basis:280px;
	align-items:center;
	padding:1em 1.5em;
	background-color:$gray;
    border-radius:$br;
	color:$white;
	& .title {
		@include font-size(.75,.5);
		position:absolute;
		top:10px;
		left:10px;
		
	}
	& p {
		@include font-size(1.35,1.6);
	}


}


.tour-progress {
  position:absolute;
  top:5px;
  right:5px;
}
.xtra-link {
	position:absolute;bottom:10px;right:10px;
	display:inline-block;
	padding:.5em;
	background-color:$teal;
	color:$white;
	
}

.tour-nav {

  position:absolute; bottom:10px; left: 20px;

  & a {
    @include font-size(2,2);

    & i {
      font-weight:bold;
    }
  }
}